[Unit]
Description=Thunderbird service daemon
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/thunderbird.sh "start"
ExecReload=/opt/thunderbird.sh "reload"
ExecStop=/opt/thunderbird.sh "stop"

[Install]
WantedBy=multi-user.target
