[Unit]
Description=Thunderbird service
After=network.target
Requires=default.target

[Service]
Type=oneshot
EnvironmentFiletc/sysconfig/httpd
ExecStart=/home/minowa/tools/started-run/thunderbird.sh "start"
ExecReload=/home/minowa/tools/started-run/thunderbird.sh "reload"
ExecStop=/home/minowa/tools/started-run/thunderbird.sh "stop"
KillSignal=SIGTERM
PrivateTmp=true

[Install]
WantedBy=multi-user.target
